Repository drewxs/rust-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,scss,css,json,md}": ["prettier --config .prettierrc.json --write"],
  "*.{ts,tsx,js,jsx}": ["eslint --no-ignore --max-warnings=0 --fix"]
}

chore(release): 4.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  acb91ecf32170f8d32ab5fa7c11f4799a402c9aa
Due: none

build(deps): update dependencies (automated)
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc.json --write

chore(release): 4.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  bcfc3ca6e7e525981526f5784626a2ba2c91dd65
Due: none

build(deps): update dependencies [skip ci]
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc.json --write

refactor: move modules out of lib dir
  src/fetch.ts
  src/index.ts
  src/match.ts
  src/option.ts
  src/result.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  9f2a96f668f6a45ffa28ac966adccee53784d3de
Due: none

feat(result,option): add async support
  src/option.ts
  src/result.ts
  tests/option.spec.ts
  tests/result.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

docs(readme): add note about async methods [skip ci]
  README.md
Due: prettier --config .prettierrc.json --write

feat: create `Box` implementation
  README.md
  src/box.ts
  src/index.ts
  tests/box.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

chore(release): 5.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  c14c1361de96dff4a6b7b5db442f483e9f381a9e
Due: none

build(deps): update dependencies (automated)
  pnpm-lock.yaml
Due: none

fix(box): replace `map` w/ `map_mut`
  src/box.ts
  tests/box.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

chore(release): 6.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  c6d36a70c7b9bbe863b3322c5f1806cd901e0606
Due: none

chore(release): 6.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  be82dd51d6b2a25ff68f5b3e1a1c3de2247b538a
Due: none

refactor: rm `Box`
  README.md
  src/box.ts
  src/index.ts
  src/match.ts
  tests/box.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

refactor: rm `match`
  README.md
  src/extra.ts
  src/index.ts
  src/match.ts
  tests/match.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

refactor: rm extra
  src/extra.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

chore(release): 6.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  a13ae643ace77fe0ab2bcd54f0cd32379c3c82fd
Due: none
