Repository drewxs/rust-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

build(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc.json --write

ci(release): swap PAT for generated token
  .github/workflows/release.yml
Due: none

refactor(result,option): base interface names
  src/lib/option.ts
  src/lib/result.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

build(pkg): update description
  package.json
Due: prettier --config .prettierrc.json --write

ci(release): add read permissions and audit signatures
  .github/workflows/release.yml
Due: none

build(release): rm docs scope
  .releaserc.json
Due: prettier --config .prettierrc.json --write

build(deps): downgrade conventional-changelog-conventionalcommits@7.0.1->6.0.1
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc.json --write

chore(release): 3.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  22766282563a523a2670cf4188e49b48a753a600
Due: none

chore(cfg): update commitlintrc
  .commitlintrc.json
Due: prettier --config .prettierrc.json --write

ci(github): update permissions for update-deps
  .github/workflows/update-deps.yml
Due: none

feat: rm if_let
  README.md
  src/index.ts
  src/lib/if_let.ts
  src/lib/option.ts
  tests/if_let.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

feat: combine _then/_else methods
  README.md
  src/lib/option.ts
  src/lib/result.ts
  tests/match.spec.ts
  tests/option.spec.ts
  tests/result.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  d5f71fe33287311bafb5c4a99f6143380b6158ea
Due: none

feat(option): create method `some`
  README.md
  src/lib/option.ts
  tests/option.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  b1690804c22533fab6902c92321fe43c65239259
Due: none

build(deps): update dependencies (automated)
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc.json --write

chore(release): 4.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  0eb726e0e203570c798ba7eaaf712b5a5e194f6a
Due: none

chore(release): 4.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  ef3972a438a336a9cbe72bcc874cf7baab3707c9
Due: none

chore(release): 4.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  75aa0d8c88be018f47fd141a19a42d80f6e8cab6
Due: none

docs(readme): fix snippet
  README.md
Due: prettier --config .prettierrc.json --write

build(deps): update semantic-release deps
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc.json --write

chore(release): 4.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  3e949c88c251bdb365f757412a0670eb63c128ee
Due: none

chore(release): 4.1.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  71d025687c7a026b52ecf4426eafd191765abbe7
Due: none

test: refactor
  tests/fetch.spec.ts
  tests/option.spec.ts
  tests/result.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

feat(result): create method `ok`
  README.md
  src/lib/result.ts
  tests/result.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

Path conditions:
  prettier --config .prettierrc.json --write: any of: *.{ts,tsx,js,jsx,scss,css,json,md}
  eslint --no-ignore --max-warnings=0 --fix: any of: *.{ts,tsx,js,jsx}
