Repository drewxs/rust-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,scss,css,json,md}": ["prettier --config .prettierrc.json --write"],
  "*.{ts,tsx,js,jsx}": ["eslint --no-ignore --max-warnings=0 --fix"]
}

build(deps): update dependencies (automated)
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc.json --write

build(deps): update dependencies (automated)
  pnpm-lock.yaml
Due: none

build: migrate pnpm->npm
  .npmrc
  .nvmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc.json --write

docs(readme): cleanup
  README.md
Due: prettier --config .prettierrc.json --write

refactor: rm `fetchx`
  README.md
  src/fetch.ts
  src/index.ts
  tests/fetch.spec.ts
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

build(deps): update dependencies
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --config .prettierrc.json --write

chore: .releaserc.json->js
  .releaserc.js
  .releaserc.json
Due: prettier --config .prettierrc.json --write, eslint --no-ignore --max-warnings=0 --fix

build(deps): fix peer deps
  package-lock.json
  package.json
Due: prettier --config .prettierrc.json --write

ci(github): update workflows
  .github/workflows/release.yml
  .github/workflows/update-deps.yml
Due: none

ci(release): node@lts->20
  .github/workflows/release.yml
Due: none

chore(pkg): set type module
  .releaserc.mjs
  package.json
Due: prettier --config .prettierrc.json --write

build(deps): conventional-changelog-conventionalcommits@8.0.0->7.0.2
  package-lock.json
  package.json
Due: prettier --config .prettierrc.json --write

chore(release): 6.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write

Notes added by 'git notes add'
  8025d4eb9a9b0eb5a39066f10521b9822cd09b0c
Due: none

build(deps): update dependencies (automated)
  package-lock.json
Due: prettier --config .prettierrc.json --write
